/****************************************************************************
 * styles.css
 *
 * Computer Science 50
 * Problem Set 7
 *
 * Global CSS.
 ***************************************************************************/

.container
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.background
{
    background-color:#7f7f7f;
}

.floating-middle
{
    border-top: 5px solid #9E0202;
    text-align: center;
    width:40%;
    min-width: 750px;
    margin: 2% auto;
    background-color:#FAFAFA;
}


#float-sidebar
{
    border-top: 5px solid #9E0202;
    position:fixed;
    margin-top:-5px;
    margin-left: -17.5%;
    padding:0;
    width:15%;
    background-color:#FAFAFA;
    padding-top:0.5%;
}

.sidebar-top
{
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 18px;
    line-height: 18px;
    color: #454545;
    text-align:left;
    padding:5% 4% 4% 4%;
    padding-bottom:4%;
    border-bottom: 1px inset #7f7f7f;
    font-weight:bold;
}

.sidebar-next
{
    font-family: 'Molengo', Georgia, Times, serif;
    border-top: 15px solid #7f7f7f;    
    font-size: 18px;
    line-height: 18px;
    color: #454545;
    text-align:left;
    padding:5% 4% 4% 4%;
    border-bottom: 1px inset #7f7f7f;
    font-weight:bold;
}


.sidebar-link
{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #454545;
    width: 100% !important;
}

.sidebar-link:hover
{
    background-color:#9E0202;    
    text-decoration:none;
    color:#FAFAFA;
}

.sidebar-p
{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: #454545;
    text-align:left;
    padding:4%;
    padding-bottom:4%;
}

.sidebar-p:hover
{
    background-color:#9E0202;    
    text-decoration:none;
    color:#FAFAFA;
}

#top
{
    /* center contents */
    text-align: center;
    overflow: hidden;
}

#title
{
    float:left;
    text-align:left;
    margin-top:3%;
    width:47%;
    height:20%;
    border-right: 1px inset #7f7f7f;
}

#links
{
    text-align:right;
    margin-top:7%;
    width:47%;
    overflow:hidden;
}

.link
{
    
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin:left:5%;
    padding-left:5px;
    padding-right:5px;
    color: #454545;
    border: 1.5px solid #7f7f7f;
    margin-left:5px;
}

.link:hover
{
    background-color:#9E0202;
    color: #FAFAFA;
    border: 1.5px solid #9E0202;
    text-decoration: none;
}

.post
{
    text-align:center;
    margin:4% 2% 4% 2%;
    padding:3% 4% 3% 4%;
    width:88%;
    background-color:#E8E8E8;
    color: #7f7f7f;
    border-top: 1.5px solid #737272;
    border-bottom: 1.5px solid #737272;
    text-align:left;

}

#middle
{
}

#bottom
{
    margin: 20px;
    text-align: left;
    padding-top: 20px;
    font-size: 14px !important;
    line-height: 14px !important;
    border-top: 1px inset #7f7f7f;


}


h1
{
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 26px;
    line-height: 30px;
    color: #454545;
    text-align:left;
}


#name:hover
{
    text-decoration:none;
}
 
p
{
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 22px;
    color: #454545;
}

.prettyprint
{
    margin:20px 10px 20px 10px;
    padding:15px !important;
}

