<div class="post">
    <h1>
    Basic Conditionals
    </h1>
    <p>A variable is simply a piece of data. Java variables generally fall into two categories:</p>
    <p><ul><li>Primitive data types, like int, float, double, char, etc.</li><li>Java objects (as defined by a class definition)</li></ul></p>
    <p>Variables are used for different purposes. Sometimes variables are used to store values that can change, or be modified, over time. For example, a variable called counter might be incremented on occasion. Other variables, notably class variables that remain the same for all instances of a given class, should be defined using the static keyword. Other times variables might represent constants. These variables should use the keyword final to show they do not change over time.<p>
    <p>A variable is only valid within its territory, or scope. Variable scope is often controlled by curly braces { }. When a variable is defined, it is valid within those braces. If you try to access a variable outside of the braces, it will be undefined. Class member variables in object-oriented languages are often called attributes. They can also be called fields or properties.</p>
    <p>Like other common programming languages, you've got your assignment operator, the equals sign:</p>
    <pre class="prettyprint">
(function() { 
   var jsSyntaxHighlighting = 'rocks';
})();
    </pre>
    <p>Like many other languages, you can define a zero-based array of a specific data type. For example, the following defines an array of three integer values (first four powers of 2):</p>
    <pre class="prettyprint">
int[] aiPowersOfTwo;
aiPowersOfTwo = new int[4];
aiPowersOfTwo [0] = 1;    //  2^0=1
aiPowersOfTwo [1] = 2;    //  2^1=2
aiPowersOfTwo [2] = 4;    //  2^2=4
aiPowersOfTwo [3] = 8;    //  2^3=8
</pre>
    <p>And now, as we can see below, and completely irrelevant to the article that started above, is a function, written in C, that will recover lost pictures of a formatted memory card provided that they were saved in a JPEG format</p>
    <pre class="prettyprint">
/****************************************************************************
* recover.c
*
* Computer Science 50
* Problem Set 4
*
* Recovers JPEGs from a forensic image.
***************************************************************************/

#include <stdio.h>
#include <stdlib.h>
#include <stdint.h>
 
typedef uint8_t BYTE;
#define MEMORY_BLOCK 512
 
int main(int argc, char *argv[]) 
{

    FILE* inptr = fopen("card.raw", "r");
    if (inptr == NULL)
    {
        perror("Could not open forensic image");
        return 1;
    }

    FILE *outptr = NULL;
    int num = 0;

    while(1)
    {
        //array used to hold our jpeg
        BYTE jpeg[MEMORY_BLOCK] = {};
        
        
        //read next 512 bytes into our memory block
        for(int i = 0; i < MEMORY_BLOCK; i++)
        {        
            //if we are at EOF, close input file
            if(feof(inptr))
            {
                fclose(inptr);
                
                //Output if file open for writing
                if(outptr != NULL)
                    fclose(outptr);
                return 0;
            }

            fread(&jpeg[i], sizeof (BYTE), 1, inptr);
        }

        //found start of a new jpeg        
        if(jpeg[0] == 0xff && jpeg[1] == 0xd8 && jpeg[2] == 
                    0xff && (jpeg[3] == 0xe0 || jpeg[3] == 0xe1))
        {
            if(outptr != NULL)
            {
                fclose(outptr);
            }

            char filename[10];
            sprintf(filename, "%03d.jpg", num);

            outptr = fopen(filename, "w");
            if(outptr == NULL)
            {
                perror("Could not open file for writing");
            }
            
            //write from our buffer to our output file 512 bytes at a time
            fwrite(&jpeg[0], MEMORY_BLOCK*sizeof(BYTE), 1, outptr);
            num ++;
        }
        else if(outptr != NULL)
        {
            //write from our buffer to our output file 512 bytes at a time
            fwrite(&jpeg[0], MEMORY_BLOCK*sizeof(BYTE), 1, outptr);
        }
    }
    fclose(outptr);
    return 0;
}
</pre>
<p>
<p>That Just about wraps up this demonstration of a blog an example blog post. Some Information should follow in some shape or form</p>
<script src="highlighter/prettify.js"></script>
<script>prettyPrint();</script>
</div>
