<div class="post">
    <h1>
    About Me
    </h1>
    <p>Apologies</p>
    <p>This section of the website is still Under Construction</p>
    <div style="padding-left:11%; padding-top:4%;">
      <img src="img/construction.png" alt="Under Construction">  
    </div>
</div>
