
            </div>

            <div id="bottom">
            <p>Christoper Kane  |  Placement Embedded Engineer</p>
            <p>Belfast, Northern Ireland |  02879549544</p>
            <p>ckane386@gmail.com</p>
            </div>

        </div>

    </body>

</html>
