    
        <div id="float-sidebar">
            <p class="sidebar-top"> Recent Articles </p>
            <a style="display:block" class="sidebar-link" href="../index.html">
                <div class="sidebar-p">Most Recent</div>
            </a>
            <a style="display:block" class="sidebar-link" href="../basicConditionals.html">
                <div class="sidebar-p">Basic Conditionals</div>
            </a>
            <p class="sidebar-next"> News </p>
            <a style="display:block" class="sidebar-link" href="http://tinyurl.com/czf4pv6">
                <div class="sidebar-p">News Link</div>
            </a>

        </div>

            <div id="top">
                <div id="title">
                    <a id="name" style="display:block" href="index.html">
                    <div>
                        <h1>CHRISTOPHER KANE</h1>
                    </div>
                    </a>
                    <div>
                        <p>Placement engineer with a few thoughts to share</p>
                    </div>
                </div>
                <div id="links">
                    <a class="link" href="#">LinkedIn</a>
                    <a class="link" href="https://www.facebook.com/christopher.kane.186?ref=tn_tnmn">Facebook</a>
                    <a class="link" href="https://twitter.com/KhristopherCane">Twitter</a>
                    <a class="link" href="../aboutMe.html">About Me</a>
                </div>
            </div>

            <div id="middle">

